<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lolipo Ojisan</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    </head>
    <body>
        <article style="text-align:center">
            <h1 style="font-size: 5rem; font-family:'Open Sans'">†</h1>
            <h2>Lolipo Ojisan</h2>
            <div>
                <p>We love you and are so proud of you.</p>
                <p>Rest in Peace.</p>
            </div>
        </article>
    </body>
</html>
